.score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 8vh;
}

header span {
    display: none;
}

@media (pointer: fine) and (max-width: 700) {
    .score-board {
        margin-top: 3em;
        width: 100%;
    }
}