.card-game {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5em;
    height: 6em;
    background-color: var(--color-dark);
    border: 3px solid var(--color-white);
}

article .bi.bi-question-lg {
    color: var(--color-white);
    width: 64px; 
    height: 64px;
}