.card-game {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: var(--width);
    height: var(--height);
    justify-content: center;
    background-color: var(--color-dark);
    border: 2px solid var(--color-white);
}

article img, svg {
    color: var(--color-white);
    width: 80%;
}