.board-game {
    display: flex;
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8em;
    perspective: 700px; /*O quao longe o observador está*/
}

@media (pointer: fine) {
    .board-game {
        margin-bottom: 3em;
        width: 90%;
    }
}