:root { 
--color-blue: #048A81;
--color-purple: #8A89C0;
--color-success: #06D6A0;
--color-info: #54C6EB;
--color-warning: #FDE74C;
--color-danger: #A24936;
--color-white: #FFFCFF;
--color-light: #F6EFEE;
--color-dark: #2A2B2E;
}