#timer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #2A2B2E44;
    width: 12rem;
}

#label-timer {
    color: #2A2B2E88;
}

#time {
    color: var(--color-blue);
    font-size: 1.5rem;
}