.wrapper-player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    width: 40%;
    height: 5rem;
    border: 1px solid #2A2B2E44;
    border-bottom: 1px solid #2A2B2E00;
    border-radius: 8px 8px 0 0;
    padding: 0 8px 0 8px;
}

@keyframes appear {
    from {
        border-bottom: 3px solid var(--color-success-opacity);
    }
    to {
        border-bottom: 3px solid var(--color-success);
    }
    
}

.wrapper-player.select {
    animation: appear .2s forwards ease-in-out;
    box-shadow: 0 0 4px 2px #00000022;
    border-radius: 8px; 
}

#wrapper-player-and-victories {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#wrapper-player-and-victories div {
    display: flex;
    width: 2.5rem;
    gap: .4rem;
    text-align: right;
    align-items: flex-start;
    color: #2A2B2E99;
    font-size: 1.5rem;
}

#wrapper-player-and-victories div .bi.bi-trophy {
    font-size: 1.2rem;
}



.player-name {
    color: var(--color-dark);
    font-size: 1.5rem;
}

.wrapper-score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 0.4rem;
    width: 100%;
    background: var(--color-light);
}

.wrapper-player .score.active {
    background: var(--color-success);
}

.wrapper-player.two {
    display: none;
}

.score {
    height: 0.3rem;
    width: 1.8rem;
    background: var(--color-light);
}

@media (pointer: fine) {
    .wrapper-player {
        width: 16rem;
        height: 4rem;
    }
}